# dependências
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/
next-env.d.ts

# produção
/build

# ambiente
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# sistema
.DS_Store
*.pem
/coverage
.vercel
*.tsbuildinfo

# testes
/test-results
/playwright-report
/coverage
/reports
/.stryker-tmp
/.lighthouseci
tests/e2e/.auth/
